- Ensure code style consistency with the rest of the codebase above all else, check for similar files/function/code first
- Never cast Typescript types as any
- 

# Code Formatting
- If statements must always be wrapped in brackets, never just return or throw
- Suround if blocks with empty lines so the code is more readable
- Prefer to not destructure objects
- All arrow function args should be in ()
-
